{#
/**
 * @file
 * The default template file for HTML e-mails.
 *
 * Available variables:
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * @see template_preprocess()
 * @see template_preprocess_html_mail_wrapper()
 *
 * @ingroup themeable
 */
#}
<html>
<head>
  <style type="text/css">
    table tr td {
      font-family: Arial, sans-serif;
      font-size: 12px;
    }
  </style>
</head>
<body>
<div>
  <table width="800px" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <div style="padding: 0px 0px 0px 0px;">
          {{ body }}
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
